main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav.navbar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(222, 227, 241);
  margin-bottom: 2rem;
  padding: 1rem;
}

nav img.nav-img {
  width: 3rem;
  margin: .5rem;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: .8rem;
  margin-bottom: 0 !important;
}

.navbar div.titleLogo {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar div.titleLogo h1 {
  font-size: 1.5em;
  font-weight: 200;
  color: rgb(81, 103, 164);
  margin-bottom: 0;
}

.navbar .homeButton {
  margin-right: 1rem;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navbar .homeButton p {
  color: black;
  margin-bottom: 0 !important;
}

.hamburger-icon {
  display: none;
}

 /* Mobile */
@media screen and (max-width: 850px) {

  .navbar {
    align-items: flex-start !important;
    position: relative;
  }

  .hamburger-icon {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }

  .hamburger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  ul.navLinkItems {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
 
  ul.navLinkItems li {
    margin-top: .5rem;
  }


}


.homeLinks {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  list-style: none;
  background-color: rgb(81, 103, 164);;
  margin: 0;
  padding: 0;
}

.homeLinkLi {
  margin: 0 auto;
}

.homeLinkLi .homeLink p {
  color: white;
  margin: .5rem;
}
.homeLinkLi .homeLink p:hover {
  font-size: larger;
}

.createProfileForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}

form.createProfileForm textarea{
  margin-bottom: 0 !important;
  
}

.formRow {
  width: 27rem;
  display: flex;
  justify-content: space-between;
}

.createProfileForm .formitem.input{
  margin: 1rem;
  padding: .5rem;
  width: 15rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(241, 239, 239);
  
}

form.createProfileForm .formitem.label{
  margin-bottom: .5rem;
  margin: .5rem;
  
}

form.createProfileForm .button-primary.login {
  margin-left: 67%;
  margin-top: 1rem;
}



.button-primary {

  width: 8rem;
  background-color: rgb(81, 103, 164);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}


.button-danger {
  margin: 1rem;
  width: 8rem;
  background-color: rgb(161, 70, 70);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}

.button-secondary {
  margin: 1rem;
  width: 8rem;
  background-color: rgb(155, 161, 177);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}

.button-disabled {
  opacity: 50%;
}

div.detailsCard {
  margin: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(222, 227, 241);
}

.detailsCard p{
  text-decoration: none;
  color: black;
  margin: .25rem !important;
}

div.detailsCard p {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

.alert-danger {
  background-color: rgb(161, 70, 70);
  padding: .2rem;
  width: 10rem;
  border-radius: .5rem;
  color: white;
  opacity: .8;
  text-align: center;
  margin: .2rem;
}

.alert-warning {
  background-color: rgb(249, 193, 62);
  padding: .5rem;
  width: 10rem;
  border-radius: .5rem;
  color: white;
  opacity: .8;
}

.alert-success {
  background-color: rgb(3, 68, 248);
  padding: .2rem;
  width: 20rem;
  border-radius: .5rem;
  color: white;
  opacity: .8;
  text-align: center;
  margin: .2rem;
}

.smalltext {
  text-decoration: none;
  font-size: .7rem;
  display: inline-block;
}

div.profile-form-checkboxes {
  margin: 1.5rem;
}

div.profile-form-checkboxes div {
  margin: .8rem;
  display: flex;
  width: 7rem;
  justify-content: space-between;

}

