main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav.navbar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(222, 227, 241);
  margin-bottom: 2rem;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: .8rem;
}

.navbar div.titleLogo {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar div.titleLogo h1 {
  font-size: 1.5em;
  font-weight: 200;
  color: rgb(81, 103, 164);
}

.navbar .homeButton {
  margin-right: 1rem;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navbar .homeButton p {
  color: black;
}

.createProfileForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}

form.createProfileForm textarea{
  margin-bottom: 0 !important;
  
}

.formRow {
  width: 27rem;
  display: flex;
  justify-content: space-between;
}

.createProfileForm .formitem.input{
  margin: 1rem;
  padding: .5rem;
  width: 15rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(241, 239, 239);
  
}

form.createProfileForm .formitem.label{
  margin-bottom: .5rem;
  margin: .5rem;
  
}

.button-primary {
  margin: 1rem;
  width: 8rem;
  background-color: rgb(81, 103, 164);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}


.button-danger {
  margin: 1rem;
  width: 8rem;
  background-color: rgb(161, 70, 70);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}

.button-secondary {
  margin: 1rem;
  width: 8rem;
  background-color: rgb(155, 161, 177);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}


div.detailsCard {
  margin: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(222, 227, 241);
}

div.detailsCard p {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

.alert-danger {
  background-color: rgb(161, 70, 70);
  padding: .2rem;
  width: 10rem;
  border-radius: .5rem;
  color: white;
  opacity: .8;
  text-align: center;
  margin: .2rem;
}

.alert-warning {
  background-color: rgb(249, 193, 62);
  padding: .5rem;
  width: 10rem;
  border-radius: .5rem;
  color: white;
  opacity: .8;
}

.alert-success {
  background-color: rgb(3, 68, 248);
  padding: .2rem;
  width: 20rem;
  border-radius: .5rem;
  color: white;
  opacity: .8;
  text-align: center;
  margin: .2rem;
}

.smalltext {
  text-decoration: none;
  font-size: .7rem;
  display: inline-block;
}

div.profile-form-checkboxes {
  margin: 1.5rem;
}

div.profile-form-checkboxes div {
  margin: .8rem;
  display: flex;
  width: 7rem;
  justify-content: space-between;

}


