main {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  font-size: 3em;
  font-weight: 200;
  color: rgb(81, 103, 164);
}

.navbar button.homeButton {
  margin: 1rem;
  width: 120px;
  background-color: rgb(81, 103, 164);
  color: white;
  border: none;
  border-radius: .5rem;
  
}

.navbar button.homeButton p {
  color: white;
}

form.createProfileForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form.createProfileForm textarea{
  margin-bottom: 0 !important;
  
}

form.createProfileForm .formitem.input{
  margin: 1rem;
  padding: .5rem;
  width: 15rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(241, 239, 239);
  
}

form.createProfileForm .formitem.label{
  margin-bottom: .5rem;
  margin: .5rem;
  
}

.button-primary {
  margin: 1rem;
  width: 10rem;
  background-color: rgb(81, 103, 164);
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}


div.detailsCard {
  margin: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(222, 227, 241);
}

div.detailsCard p {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}


